/* _________________________Dictionaries_________________________ */

/* themes */
$themes: (
	light: light,
	dark: dark,
);

/* break points */
$break-points: (
	xs6: xs6,
	xs5: xs5,
	xs4: xs4,
	xs3: xs3,
	xs2: xs2,
	xs: xs,
	sm: sm,
	md: md,
	lg: lg,
	xl: xl,
	xl2: xl2,
	xl3: xl3,
	xl4: xl4,
	xl5: xl5,
	xl6: xl6,
);

/* sizes */
$sizes: (
	xs: xs,
	sm: sm,
	md: md,
	lg: lg,
	xl: xl,
);
$sizes-types: (
	/* borders */ border: border,
	/* element|text seperation */ split: split,
	/* text sizes */ text: text,
	/* element sizes */ element: element,
	/* element separation */ space: space,
	/* components */ component: component,
	/* views */ view: view
);

/* colors */
$colors: (
	bg: bg,
	text: text,
);

/* series */
$series: (
	base: base,
	primary: primary,
	secondary: secondary,
	accent: accent,
	info: info,
	success: success,
	warning: warning,
	danger: danger,
);

/* variants */
$variants: (
	fill: fill,
	text: text,
	outl: outl,
);

/* alignments */
$alignments: (
	start: start,
	center: center,
	end: end,
);

/* orientations */
$orientations: (
	horizontal: horizontal,
	vertical: vertical,
);

/* intensities */
$intensities: (
	weakest: weakest,
	weak: weak,
	main: main,
	strong: strong,
	strongest: strongest,
);

/* positions */
$positions: (
	top: top,
	bottom: bottom,
	left: left,
	right: right,
);

/* _________________________Values_________________________ */

/* lines height */
$line: (
	xs: 1,
	sm: 1.125,
	md: 1.25,
	lg: 1.375,
	xl: 1.5,
);

/* sizes */
$sizes-values: (
	border: (
		xs: 0.0625,
		sm: 0.09375,
		md: 0.125,
		lg: 0.15625,
		xl: 0.1875,
	),
	split: (
		xs: 0.125,
		sm: 0.25,
		md: 0.375,
		lg: 0.5,
		xl: 0.625,
	),
	text: (
		xs: 0.75,
		sm: 0.875,
		md: 1,
		lg: 1.25,
		xl: 1.5,
	),
	element: (
		xs: 2,
		sm: 2.75,
		md: 3.5,
		lg: 4.25,
		xl: 5,
	),
	space: (
		xs: 0.5,
		sm: 0.75,
		md: 1,
		lg: 1.5,
		xl: 2,
	),
	component: (
		xs: 8,
		sm: 12,
		md: 16,
		lg: 20,
		xl: 24,
	),
	view: (
		xs: 40,
		sm: 44,
		md: 48,
		lg: 56,
		xl: 64,
	),
);
