/* space margin */
@mixin margin($size-type, $size) {
	@if not map-has-key($sizes-types, $size-type) {
		@error "No key '#{$size-type}' on sizes types";
	}

	@if not map-has-key($sizes, $size) {
		@error "No key '#{$size}' on sizes";
	}

	margin: var(--sbsys-size-#{$size-type}-#{$size});
}

@mixin margin-x($size-type, $size) {
	@if not map-has-key($sizes-types, $size-type) {
		@error "No key '#{$size-type}' on sizes types";
	}

	@if not map-has-key($sizes, $size) {
		@error "No key '#{$size}' on sizes";
	}

	margin-left: var(--sbsys-size-#{$size-type}-#{$size});
	margin-right: var(--sbsys-size-#{$size-type}-#{$size});
}

@mixin margin-left($size-type, $size) {
	@if not map-has-key($sizes-types, $size-type) {
		@error "No key '#{$size-type}' on sizes types";
	}

	@if not map-has-key($sizes, $size) {
		@error "No key '#{$size}' on sizes";
	}

	margin-left: var(--sbsys-size-#{$size-type}-#{$size});
}

@mixin margin-right($size-type, $size) {
	@if not map-has-key($sizes-types, $size-type) {
		@error "No key '#{$size-type}' on sizes types";
	}

	@if not map-has-key($sizes, $size) {
		@error "No key '#{$size}' on sizes";
	}

	margin-right: var(--sbsys-size-#{$size-type}-#{$size});
}

@mixin margin-y($size-type, $size) {
	@if not map-has-key($sizes-types, $size-type) {
		@error "No key '#{$size-type}' on sizes types";
	}

	@if not map-has-key($sizes, $size) {
		@error "No key '#{$size}' on sizes";
	}

	margin-top: var(--sbsys-size-#{$size-type}-#{$size});
	margin-bottom: var(--sbsys-size-#{$size-type}-#{$size});
}

@mixin margin-top($size-type, $size) {
	@if not map-has-key($sizes-types, $size-type) {
		@error "No key '#{$size-type}' on sizes types";
	}

	@if not map-has-key($sizes, $size) {
		@error "No key '#{$size}' on sizes";
	}

	margin-top: var(--sbsys-size-#{$size-type}-#{$size});
}

@mixin margin-bottom($size-type, $size) {
	@if not map-has-key($sizes-types, $size-type) {
		@error "No key '#{$size-type}' on sizes types";
	}

	@if not map-has-key($sizes, $size) {
		@error "No key '#{$size}' on sizes";
	}

	margin-bottom: var(--sbsys-size-#{$size-type}-#{$size});
}

@mixin implement-margin-size {
	&-margin {
		$parent: &;

		@each $size-type in map-values($sizes-types) {
			&--#{$size-type}#{$parent} {
				@each $current-size in map-values($sizes) {
					&--#{$current-size} {
						@include margin($size-type, $current-size);
					}
				}
			}
		}

		@each $size-type in map-values($sizes-types) {
			&-x--#{$size-type}#{$parent} {
				@each $current-size in map-values($sizes) {
					&-x--#{$current-size} {
						@include margin-x($size-type, $current-size);
					}
				}
			}
		}

		@each $size-type in map-values($sizes-types) {
			&-left--#{$size-type}#{$parent} {
				@each $current-size in map-values($sizes) {
					&-left--#{$current-size} {
						@include margin-left($size-type, $current-size);
					}
				}
			}
		}

		@each $size-type in map-values($sizes-types) {
			&-right--#{$size-type}#{$parent} {
				@each $current-size in map-values($sizes) {
					&-right--#{$current-size} {
						@include margin-right($size-type, $current-size);
					}
				}
			}
		}

		@each $size-type in map-values($sizes-types) {
			&-y--#{$size-type}#{$parent} {
				@each $current-size in map-values($sizes) {
					&-y--#{$current-size} {
						@include margin-y($size-type, $current-size);
					}
				}
			}
		}

		@each $size-type in map-values($sizes-types) {
			&-top--#{$size-type}#{$parent} {
				@each $current-size in map-values($sizes) {
					&-top--#{$current-size} {
						@include margin-top($size-type, $current-size);
					}
				}
			}
		}

		@each $size-type in map-values($sizes-types) {
			&-bottom--#{$size-type}#{$parent} {
				@each $current-size in map-values($sizes) {
					&-bottom--#{$current-size} {
						@include margin-bottom($size-type, $current-size);
					}
				}
			}
		}
	}
}
