/* Normalize definition */
@mixin normalize {
	&,
	&::before,
	&::after {
		-webkit-tap-highlight-color: transparent;
		box-sizing: border-box;
		color: inherit;
		font-size: inherit;
		font-weight: inherit;
		line-height: 1.25;
		margin: 0;
		padding: 0;
	}

	/* focus */
	&:focus {
		outline-offset: 2px;
		outline: 2px solid transparent;
	}

	& {
		@content;
	}
}

/* dots */
@mixin dots {
	& {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

/* disabled */
@mixin disabled {
	user-select: none;
	pointer-events: none;
}

/* interactable */
@mixin interactable {
	cursor: pointer;
	transition: transform 0.125s ease-in-out;

	&:hover {
		transform: scale(1.02);
	}

	&:disabled,
	&:active {
		transform: scale(0.98);
	}

	&:disabled {
		@include disabled;
		opacity: 0.98;
	}
}

@mixin implement-normalize {
	&-base {
		&--normalize {
			@include normalize;
		}

		&--dots {
			@include dots;
		}

		&--disabled {
			@include disabled;
		}

		&--interactable {
			@include interactable;
		}

		&--hidden {
			overflow: hidden;
		}

		&--grow {
			flex-grow: 1;
		}

		&--pointer {
			cursor: pointer;
		}

		&--sans {
			font-family: 'Roboto', sans-serif;
		}

		&--serif {
			font-family: 'Roboto Mono', monospace;
		}

		&--input {
			&::placeholder {
				color: rgba(var(--sbsys-serie-current-color), 0.1);
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		&--password {
			&[type='password']::-ms-reveal,
			&[type='password']::-ms-clear {
				display: none;
			}
		}
	}
}
