/* Normalize definition */
@mixin normalize {
	&,
	&::before,
	&::after {
		-webkit-tap-highlight-color: transparent;
		@include line(md);
		font-size: inherit;
		font-weight: inherit;
		margin: 0;
		padding: 0;
	}

	/* focus */
	&:focus {
		outline-offset: 2px;
		outline: 2px solid transparent;
	}
}

/* dots */
@mixin dots {
	& {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

/* disabled */
@mixin disabled {
	user-select: none;
	pointer-events: none;
}

/* interactable */
@mixin interactable {
	cursor: pointer;
	transition: transform 0.125s ease-in-out;

	&:hover {
		transform: scale(1.02);
	}

	&:disabled,
	&:active {
		transform: scale(0.98);
	}

	&:disabled {
		@include disabled;
		opacity: 0.98;
	}
}
