/* lines height */
$line: (
	xs: 1,
	sm: 1.125,
	md: 1.25,
	lg: 1.375,
	xl: 1.5,
);

/* sizes */
$sizes-values: (
	border: (
		xs: 0.0625,
		sm: 0.09375,
		md: 0.125,
		lg: 0.15625,
		xl: 0.1875,
	),
	split: (
		xs: 0.125,
		sm: 0.25,
		md: 0.375,
		lg: 0.5,
		xl: 0.625,
	),
	text: (
		xs: 0.75,
		sm: 0.875,
		md: 1,
		lg: 1.25,
		xl: 1.5,
	),
	element: (
		xs: 2,
		sm: 2.75,
		md: 3.5,
		lg: 4.25,
		xl: 5,
	),
	space: (
		xs: 0.5,
		sm: 0.75,
		md: 1,
		lg: 1.5,
		xl: 2,
	),
	component: (
		xs: 8,
		sm: 12,
		md: 16,
		lg: 20,
		xl: 24,
	),
	view: (
		xs: 40,
		sm: 44,
		md: 48,
		lg: 56,
		xl: 64,
	),
);

@mixin sizes($size-type) {
	@if not map-has-key($sizes-values, $size-type) {
		@error "No key '#{$size-type}' on sizes";
	}

	&-gap {
		@each $size-key, $size-value in $sizes {
			&--#{$size-type}-#{$size-key} {
				gap: #{map-get($sizes-values, $size-type, $size-key)}rem;
			}
		}

		@each $size-key, $size-value in $sizes {
			&-x--#{$size-type}-#{$size-key} {
				column-gap: #{map-get($sizes-values, $size-type, $size-key)}rem;
			}
		}

		@each $size-key, $size-value in $sizes {
			&-y--#{$size-type}-#{$size-key} {
				row-gap: #{map-get($sizes-values, $size-type, $size-key)}rem;
			}
		}
	}
}

@mixin lines {
	&-line {
		@each $size-key, $size-value in $sizes {
			&--#{$size-key} {
				line-height: map-get($sizes-values, $size-key);
			}
		}
	}
}
