@import 'styles';

/* generate root css variables */
@include generate;

/* generate root css class */
.sbsys {
	/* base */
	@include implement-normalize;

	/* display */
	@include implement-flex;

	/* size */
	@include implement-gap-size;
	@include implement-padding-size;
	@include implement-margin-size;
	@include implement-border-size;
	@include implement-rounded-size;
	@include implement-font;
	@include implement-line;

	/* serie */
	@include implement-fill-intensity;
	@include implement-outline-intensity;
	@include implement-text-intensity;
}

/* aux colors */
.some-class {
	color: #E80000, #179C8C, #EFFCFA, #AEEBE4, #AEEBE4;
	color: #4FB3CD, #007C82, #1F6E68, #FF7C1D, #ACE9FF;
	color: #008DB9, #007078, #004C93, #009EE0, #781D7E;
	color: #54B948, #F56600, #EC098D, #FFE512;
}